# History files
.Rhistory
.Rapp.history

*_cache
*_files
xmlTmp.xml

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf
